*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin: 136px 30px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 21px;
  width: 399px;
  height: 534px;
}

.content__list-container {
  position: relative;
  height: 298px;
  overflow-y: scroll;
}

.result__video-container {
  position: relative;
  margin-top: 74px;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 3px;
}

.content__video-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.content__video-card-thumbnail {
  object-fit: cover;
  object-position: 2px;
  width: 194px;
  height: 103px;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed";
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: 0%;
  margin-bottom: 6px;
}

.title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.5px;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.content__accent {
  text-transform: uppercase;
  color: rgba(84, 80, 80, 1);
}

.content__card-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  display: block;
}

.content__video-card-title {
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed";
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.content__video-card-description-container {
  font-family: "Fira Sans Condensed";
  font-weight: 400;
  font-size: 18px;
  line-height: 16.2px;
  letter-spacing: 0;
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 194px;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.content__list-item {
  display: flex;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__label {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.search-form__textfield {
  width: 225px;
  font-family: "Fira Sans Condensed";
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 0.7);
  background-color: transparent;
  border-left: none;
  border-right: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  appearance: none;
}

.search-form__textfield:hover {
  text-decoration: none;
}

.search-form__fieldset {
  border: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid white;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
  margin-top: 8px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid white;
  background-color: transparent;
  cursor: pointer;
}

.search-form__pseudo-checkbox::after {
  content: "";
  align-items: center;
  width: 15px;
  height: 15px;
  background-color: #fff;
  margin: 1px;
}

.search-form__checkbox[type="checkbox"]:checked
  + .search-form__pseudo-checkbox::after {
  display: block;
}

.search-form__label:hover {
  text-decoration: underline;
}

.button {
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-family: "Fira Sans Condensed";
  font-weight: 700;
  font-size: 18px;
  line-height: 21.6px;
  letter-spacing: 0%;
  text-align: center;
  cursor: pointer;
}

.search-form__submit-button {
  margin-top: 20px;
  align-items: end;
  width: 194px;
  height: 34px;
}

.more-button {
  margin-top: 30px;
  width: 100%;
  height: 34px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: rgba(84, 80, 80, 1);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline-offset: 1px;
  outline: 1px solid #fff;
}

.content__card-link_current {
  background-color: rgba(84, 80, 80, 1);
}

.content__video-card-description-container:hover {
  text-decoration: underline;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
}

.search-form__label:hover {
  text-decoration: none;
}
